<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="details-page">
    <div class="user-img">
      <img ng-src="{{chat.face}}" alt="user" />
    </div>
    <div class="product-details">
      <div class="product-info">
        {{chat.lastText}}
      </div>
      <div class="product-price">
        Rs. {{chat.price}}
      </div>
      <div class="btn">
        {{chat.discout}} Off
      </div>
    </div>
  </ion-content>
</ion-view>
