<ion-view view-title="Chats">
  <ion-nav-buttons side="right">
     <button class="button icon ion-navicon" ng-click="grid_view()"></button>
    <!-- <button class="button icon ion-navicon" ng-click="grid_view1()" ng-show="flag1"></button> -->
    <!-- <button class="button icon ion-grid" ng-click="grid_view2()" ng-show="flag2"></button> -->
  </ion-nav-buttons>

  <ion-content>
    <div class="{{ layout }}">
      <a class="item item-thumbnail-left" ng-repeat="chat in chats" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <p><strong>Rs. {{chat.price}}</strong></p>
        <button class="button button-small button-outline button-dark disable" ng-disabled="1">
          {{chat.discout}} OFF
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>