/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header page SCSS
 */

.bar.bar-stable {
  height: 60px;
  @include background-horizontal($dark-blue, $light-green, $dark-blue);
  .title {
    height: 60px;
    line-height: 60px;
    color: $light;
    font-size: 22px;
  }
  .buttons-right {
    margin: 0;
    .list-grid-toggle {
      display: inline-block;
      margin: 0;
      padding: 0;
      color: $light;
      font-size: 12px;
      font-weight: 200;
      letter-spacing: 3px;
      text-align: center;
      text-shadow: 2px 2px 4px shade($teal, 20%);
      text-transform: uppercase;
      @include transition(all .15s ease 0s);
      user-select: none;
      &:hover {
        background: shade($teal, 10%);
      }
    }
    .icon { /* .button */
      display: inline-block;
      height: auto;
      width: 35px;
      margin: 9px 10px 0 0;
      padding: 0;
      border: none;
      background-color: transparent;
      &::before,
      &::after {
        display: none;
      }
      .icon-bar {
        position: relative;
        float: left;
        height: 4px;
        width: 100%;
        margin: 0 0 7px;
        background: $light;
        @inlclude transition(all .15s ease 0s);
        &:before,
        &:after {
          position: absolute;
          display: block;
          width: 8px;
          height: 4px;
          background: $light;
          box-shadow: 2px 2px 4px (shade($teal, 20%));
          content: '';
          opacity: 0;
          transition: all 0.15s ease;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .grid-icon {
      width: 8px;
      margin-right: 25px;
      .icon-bar {
        &:before,
        &:after {
          margin: 0 -5px;
          opacity: 1;
        }
        &:before {
          left: 0;
          @include transform(translateX(-8px));
        }
        &:after {
          right: 0;
          @include transform(translateX(8px));
        }
      }
    }
  }
}
.back-button {
  max-height: 60px;
  height: 52px;
  i,
  span {
    color: $light;
    &::before,
    &::after {
      color: $light;
    }
  }
}
.has-header {
  top: 60px;
}
.has-tabs {
  bottom: 60px;
}
